<div ng-show="vm.isUserAdded" uib-alert ng-class="'alert-success'">User was successfully created!</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"
                     style="background-color:#FA5340;color: white;font-weight: 800;text-align: center">Add new user
                </div>
                <div class="panel-body">
                    <form class="form-horizontal add-user-form" name="addUserForm" ng-submit="vm.saveUser(user)" novalidate
                          style="float: left; width: 100%;">
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">First name</label>
                            <div class="col-md-8">
                                <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                                       id="name" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.name.$touched"
                                     ng-messages="addUserForm.name.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname" class="col-md-4 control-label">Last name</label>
                            <div class="col-md-8">
                                <input type="text" name="surname" class="form-control" ng-model="vm.user.surname"
                                       id="surname" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.surname.$touched"
                                     ng-messages="addUserForm.surname.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateOb" class="col-md-4 control-label">Birth date</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}"
                                           is-open="vm.openedCalendar" ng-required="true" popup-placement="right-top"
                                           close-text="Close" datepicker-options="vm.dateOptions"
                                           ng-model="vm.user.dateOb"
                                           name="dateOb" id="dateOb"/>
                                    <div ng-show="addUserForm.dateOb.$error.date" class="text-danger">Your date
                                        format is invalid
                                    </div>
                                    <span class="input-group-addon">
                                        <span ng-click="vm.openCalendar()" style="cursor: pointer">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div ng-show="addUserForm.dateOb.$touched"
                                 ng-messages="addUserForm.dateOb.$error">
                                <div ng-messages-include="app/components/errorMsg.html"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-md-4 control-label">Gender</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="input-group col-md-12">
                                        <div class="col-md-6">
                                            <input type="radio" name="gender" value="{{::vm.female}}"
                                                   ng-model="vm.user.gender"
                                                   id="female">
                                            <span style="margin-left: 10px">Female</span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" name="gender" value="{{::vm.male}}"
                                                   ng-model="vm.user.gender"
                                                   id="male">
                                            <span style="margin-left: 10px">Male</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                                       id="email" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.email.$touched"
                                     ng-messages="addUserForm.email.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-md-4 control-label">Mobile</label>
                            <div class="col-md-8">
                                <input type="mobile" name="mobile" class="form-control" ng-model="vm.user.mobile"
                                       id="mobile" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.mobile.$touched"
                                     ng-messages="addUserForm.mobile.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-md-4 control-label">Language</label>
                            <div class="col-md-8">
                                <select class="btn btn-info" name="language" ng-model="vm.user.language"
                                        ng-options="lang for lang in vm.languages"
                                        id="language" style="width: 100px">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="street" class="col-md-4 control-label">Street</label>
                            <div class="col-md-8">
                                <input type="street" name="street" class="form-control" ng-model="vm.user.street"
                                       id="street" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.street.$touched"
                                     ng-messages="addUserForm.street.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-md-4 control-label">City</label>
                            <div class="col-md-8">
                                <input type="city" name="city" class="form-control" ng-model="vm.user.city"
                                       id="city" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.city.$touched"
                                     ng-messages="addUserForm.city.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zipCode" class="col-md-4 control-label">Zip code</label>
                            <div class="col-md-8">
                                <input type="zipCode" name="zipCode" class="form-control" ng-model="vm.user.zipCode"
                                       id="zipCode" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.zipCode.$touched"
                                     ng-messages="addUserForm.zipCode.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="company" class="col-md-4 control-label">Company name</label>
                            <div class="col-md-8">
                                <input type="company" name="company" class="form-control" ng-model="vm.user.company"
                                       id="company" ng-minlength="3" ng-maxlength="20" required>
                                <div ng-show="addUserForm.company.$touched"
                                     ng-messages="addUserForm.company.$error">
                                    <div ng-messages-include="app/components/errorMsg.html"></div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-disabled="addUserForm.$invalid" style="float: right">Save
                        </button>
                        <button class="btn btn-default" style="float: right; margin-right: 15px" ng-click="vm.goToUsers()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

