<div class="form-horizontal">
    <fieldset>
        <legend style="padding: 20px">User Detail</legend>
        <div class="col-lg-3">
            <img ng-src="app/resources/abraham.jpg" style="padding: 20px" width="304" height="236"
                 class="img-circle"
                 alt='customer image'/>
        </div>
        <div class="col-lg-6">
            <form name="editUserForm" ng-submit="vm.enableUserForm(editUserForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="fullName" class="col-lg-3 control-label">Full Name</label>
                    <div class="col-lg-8">
                        <input type="text" name="fullName" class="form-control" ng-model="vm.currentUser.fullName"
                               disabled id="fullName" ng-minlength="3" ng-maxlength="20" required>{{vm.currentUser.fullName}}
                        <div ng-messages="editUserForm.fullName.$error">
                            <div ng-messages-include="app/components/errorMsg.html"></div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <button type="submit" class="btn btn-primary" ng-show="vm.isDisabled">Edit</button>
                        <button type="submit" class="btn btn-success" ng-hide="vm.isDisabled"
                                ng-disabled="editUserForm.$invalid" ng-click="vm.saveUser(vm.currentUser)">Save
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-lg-3 control-label">Address</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="vm.currentUser.address"
                               ng-disabled="vm.isDisabled" id="address" name="address" ng-minlength="3"
                               ng-maxlength="200" required>
                        <div ng-messages="editUserForm.address.$error">
                            <div ng-messages-include="app/components/errorMsg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-lg-3 control-label">City</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="vm.currentUser.city"
                               ng-disabled="vm.isDisabled"
                               id="city" name="city" ng-minlength="3"
                               ng-maxlength="20" required>
                        <div ng-messages="editUserForm.city.$error">
                            <div ng-messages-include="app/components/errorMsg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateOb" class="col-lg-3 control-label">Date of birth</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="vm.currentUser.dateOb"
                               ng-disabled="vm.isDisabled"
                               id="dateOb" name="dateOb" required placeholder="yyyy-mm-dd">
                        {{vm.currentUser.dateOb | date: "MM-yyyy-dd"}}
                        <!--<span class="error" ng-show="editUserForm.input.$error.date">-->
                        <div ng-messages="editUserForm.dateOb.$error" ng-show="vm.isSubmitted">
                            <div ng-messages-include="app/components/errorMsg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-lg-3 control-label">Mobile</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="vm.currentUser.mobile"
                               ng-disabled="vm.isDisabled"
                               id="mobile" name="mobile" ng-minlength="3" ng-maxlength="20" required>
                        <div ng-messages="editUserForm.mobile.$error">
                            <div ng-messages-include="app/components/errorMsg.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <div style="cursor: pointer" ng-click="vm.loadMoreUserDetails()"> Show more</div>
                        <!--ToDo jak dziala ui-sref-->
                        <div ng-show="vm.loadMore">The user company is:
                            {{vm.currentUser.company}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
