<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>First Test</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="bower_components/angular/angular.min.js"></script>
</head>

<body>
    <div ng-controller="SquareController">
        <h3 class="task">Zadanie 2 - przekaz hello world przez kontroler oraz dodaj 3 kwadraty (czerwony zielony niebieski) na klikniecie ktoregos
          z nich niech zmieni kolor napisu na kolor kwadratu. Dodaj również 3 przyciski pogrubienie, kursywa, cofnij zmiany </h3>
        <div class="item" ng-style=styles> {{message}} </div>
        <div ng-repeat="s in squares">
            <div class="square {{s.color}}" ng-class="{selected: $index===selectedSqr}" ng-style="{color: s.displayedColor, 'font-weight': fontBold, 'font-style': fontItalic}" ng-click="displayColor(s, $index)">
                {{$index }} {{color}} {{$first}} {{$last}} {{s}}</div>
        </div>
        <div class="clearfix"></div>
        <button class="btn" ng-click="setStyle('font-weight','bold')">Bold</button>
        <button class="btn" ng-click="setStyle('font-style', 'italic')">Italic</button>
        <button class="btn" ng-click="resetStyle()">Revert</button>
    </div>


    <script src="app.js"></script>
    <!-- Controlers -->
    <script src="app/components/squares/squareController.js"></script>
</body>

</html>
