.task {
    color: black;
    font-size: 14px;
}
.square {
    float: left;
}
.red {
    border: 1px solid;
    width: 300px;
    height: 100px;
    background: red;
    display: inline-block;
    position: relative;
}
.blue {
    border: 1px solid;
    width: 300px;
    height: 100px;
    background: blue;
    display: inline-block;
    position: relative;
}
.green {
    border: 1px solid;
    width: 300px;
    height: 100px;
    background: green;
    display: inline-block;
    position: relative;
}
.clearfix {
    clear: both;
}
.btn {
    background: #a8b221;
    height: 25px;
    width: 50px;
    display: inline-block;
    position: relative;
    float: left;
}
