<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3">
                <div class="heading" style="color: #8C8C8C; font-weight: 800;font-size: 25px; float: right;">Users
                    Management
                    <div>{{vm.searchUser}}</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="users-amount-info" style="font-size: 18px">
                    <i class="fa fa-users users-icon" aria-hidden="true"></i>
                    <span class="label label-default" ng-bind=vm.countUsers() ng-class="vm.setWarningLevel()"
                          ng-hide="vm.countUsers() == 0"></span>
                </div>
            </div>
            <div class="col-md-7">
                <form class="search-user-form" name="searchForm" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search" style="cursor: pointer;"
                                   ng-click="vm.findUser(vm.searchUser)"></i>
                            </div>
                            <input type="text" name="search" class="form-control" placeholder="Search user..."
                                   ng-model="vm.searchUser">

                            <span class="form-control-clear glyphicon glyphicon-remove"
                                  ng-show="vm.searchUser.length" ng-click="vm.restoreUserList()"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <a ui-sref="newuser">
                    <i class="fa fa-user-plus add-user" aria-hidden="true" ng-click="vm.showAddUserForm()"
                       uib-tooltip="Add user"
                       style="font-size: 24px; color: #8C8C8C; cursor: pointer"></i>
                </a>
            </div>
        </div>
    </div>
    <app-add-user ng-show="vm.isAddUserFormShown"></app-add-user>
    <!--<app-dashboard property="'Jakies property'"></app-dashboard>-->
    <div class="panel-body">
        <div class="table-container">
            <div class="table-striped" style="color: #7a7979">
                <table class="user-table table table-hover">
                    <thead>
                    <tr>
                        <td></td>
                        <td>Profile photo</td>
                        <td ng-click="vm.sortBy('id')">User id
                            <i ng-show="vm.sortedCols[0] == 'id' && !vm.sortReverse" class="fa fa-sort-asc"></i>
                            <i ng-show="vm.sortedCols[0] == 'id' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td ng-click="vm.sortBy('name')">Name
                            <i ng-show="vm.sortedCols[0] == 'name' && !vm.sortReverse" class="fa fa-sort-asc"
                               aria-hidden="true"></i>
                            <i ng-show="vm.sortedCols[0] == 'name' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td ng-click="vm.sortBy('surname')">Surname
                            <i ng-show="vm.sortedCols[0] == 'surname' && !vm.sortReverse" class="fa fa-sort-asc"
                               aria-hidden="true"></i>
                            <i ng-show="vm.sortedCols[0] == 'surname' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td ng-click="vm.sortBy('dateOb')">Date of birth
                            <i ng-show="vm.sortedCols[0] == 'dateOb' && !vm.sortReverse" class="fa fa-sort-asc"
                               aria-hidden="true"></i>
                            <i ng-show="vm.sortedCols[0] == 'dateOb' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td ng-click="vm.sortBy('mobile')">Mobile number
                            <i ng-show="vm.sortedCols[0] == 'mobile' && !vm.sortReverse" class="fa fa-sort-asc"
                               aria-hidden="true"></i>
                            <i ng-show="vm.sortedCols[0] == 'mobile' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td ng-click="vm.sortBy('address')">Address
                            <i ng-show="vm.sortedCols[0] == 'address' && !vm.sortReverse" class="fa fa-sort-asc"
                               aria-hidden="true"></i>
                            <i ng-show="vm.sortedCols[0] == 'address' && vm.sortReverse" class="fa fa-sort-desc"></i>
                        </td>
                        <td>
                            <button class="btn edit-all-btn btn-primary" ng-click="vm.editUsersCollection()"
                                    ng-hide="vm.toggleView">Edit selected
                                <button class="btn edit-all-btn btn-primary" ng-click="vm.editUsersCollection()"
                                        ng-show="vm.toggleView">Update selected
                                </button>
                            </button>
                        </td>
                    </tr>
                    </thead>
                    <tr class="user-row"
                        ng-repeat="user in vm.users | orderBy: vm.sortedCols: vm.sortReverse">
                        <td class="isActive">
                            <input type="checkbox" ng-model="user.isChecked" ng-click="vm.checked(user)"
                                   id="id-{{user.id}}" name="group"/>
                            <label for="id-{{user.id}}"></label>
                        </td>
                        <td>
                            <img ng-src="app/resources/abraham.jpg" style="width:40px; height:40px; margin-left: 20px"
                                 class="img-circle" alt='customer image'/>
                        </td>
                        <td>
                            <a ui-sref="user({userId:user.id})">{{user.id}}</a>
                        </td>
                        <td>
                            <div ng-hide="vm.editingUsers[user.id]">{{user.name}}</div>
                            <div ng-show="vm.editingUsers[user.id]">
                                <input type="text" readonly ng-model="user.name"/>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="vm.editingUsers[user.id]">{{user.surname}}</div>
                            <div ng-show="vm.editingUsers[user.id]">
                                <input type="text" readonly ng-model="user.surname"/>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="vm.editingUsers[user.id]">{{user.dateOb | date:"yyyy-MM-dd"}}</div>
                            <div ng-show="vm.editingUsers[user.id]">
                                <input type="text" ng-model="user.dateOb" placeholder="yyyy-mm-dd" required/>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="vm.editingUsers[user.id]">{{user.mobile}}</div>
                            <div ng-show="vm.editingUsers[user.id]">
                                <input type="text" ng-model="user.mobile"/>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="vm.editingUsers[user.id]">{{user.address}}</div>
                            <div ng-show="vm.editingUsers[user.id]">
                                <input type="text" ng-model="user.address"/>
                            </div>
                        </td>
                        <td>
                            <button class="btn edit-btn btn-primary" ng-hide="vm.editingUsers[user.id]"
                                    ng-click="vm.editUser(user)">Edit
                            </button>
                            <button class="btn update-btn btn-primary" ng-show="vm.editingUsers[user.id]"
                                    ng-click="vm.updateUser(user)">Update
                            </button>
                            <button class="btn delete-btn btn-danger" ng-click="vm.deleteUser(user.id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <ul uib-pagination boundary-links="true" direction-links="true" items-per-page="10" rotate="true"
            force-ellipses="true" max-size="5" ng-model="vm.currentPage"
            total-items="vm.allUsers.length" ng-click="vm.loadUsersPerPage()"></ul>
    </div>
</div>