.navbar-inverse {
    background-color: #3C4457 !important;
    border-color: #080808;
    border-radius: 0px !important;
    height: 83px;
    border-bottom-color: #FA5340 !important;
}

.navbar-nav li {
    margin-right: 20px;
    font-size: 12px;
}

.container {
    height: 1000px;
}

.wrapper {
    margin-left: 140px;
}

.nav-icon {
    font-size: 22px;
}

.nav-name:enabled:hover, .home-logo:hover {
    color: #FA5340 !important;
    cursor: pointer;
}

.menu-item {
    cursor: pointer;
    text-align: center;
}

/*prevent from clicking and setting some style for disabled pages */
.menu-item:enabled:hover, .menu-item:enabled.active {
    border-bottom: #FA5340 4px solid;
}

.menu-item[disabled]:hover {
    border-bottom: none;
}

.menu-item[disabled="disabled"], .menu-item[disabled="disabled"] span {
    cursor: not-allowed;
}

.active i {
    color: #FA5340;
}

.item-clear {
    clear: both;
}

/**************USERS LIST*************/
.heading {
    margin-left: 100px;
}

.table-container {
    margin: 20px 80px 0px 80px;
}

thead td {
    cursor: pointer;
}

.isActive {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

.isActive label {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    left: 4px;
    background: #eee;
    border: 1px solid #ddd;
}

.isActive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.isActive label:hover::after {
    opacity: 0.5;
}

.isActive input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.btn {
    color: white;
    width: 75px;
}

.edit-all-btn {
    width: 170px;
}

.edit-icon, .remove-icon {
    position: absolute;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

.search-user-form {
    width: 20%;
}

.form-control-clear {
    cursor: pointer !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 15 !important;
}

.error-msg {
    color: red;
}

/*input.ng-valid {
    border: 1px solid green;
}*/

/*input.ng-pristine {*/
/*border: 1px solid blue;*/
/*}*/

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border-left: 5px solid red;
}

.user-row {
    cursor: pointer;
}

thead {
    font-weight: bold;
}

.main-content {
    width: 93%;
    float: right;
}

.users-icon {
    color: gray;
}

/*.users-amount-info {*/
/*position: relative;*/
/*float: left;*/
/*margin-right: 25px;*/
/*}*/

.search-user-form {
    /*width: 300px;*/
    float: right;
    margin-right: 30px;
    position: relative;
}

.table-hover tr:hover {
    color: #FA5340;
}

.add-user:hover {
    color: #FA5340 !important;
}

/*.users-amount-info span {*/
/*color: grey;*/
/*background-color: #F5F5F5;*/
/*}*/

.logo-img {
    width: 90px;
    height: 82px;
    float: left;
    border-bottom: 1px solid #FA5340;
    margin: -16px;
}

.contact-panel {
    width: 30%;
}

.contact-form {
    width: 400px;
}

.social {
    margin-right: 15px;
    font-size: 20px !important;
    cursor: pointer;
}

.social:hover {
    color: #FA5340;
}

.tool-icon:hover {
    transform: scale(2.1);
    margin-left: 20px;
    cursor: pointer;
    -webkit-box-shadow: -7px -1px 40px -8px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -7px -1px 40px -8px rgba(0, 0, 0, 0.67);
    box-shadow: -7px -1px 40px -8px rgba(0, 0, 0, 0.67);
}

.contact-form input, .contact-form textarea, .contact-form .btn, .add-user-form input, .add-user-form .btn {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 4px 2px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
