<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand home-logo" href="#home">
                <img ng-src="app/resources/logo.jpg" alt="camelIcon.jpg" class="logo-img">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="item in vm.menuItems">
                <a ui-sref={{item.url}} class="menu-item" ng-click="vm.setActive(item)"
                   ng-class="{active: vm.activeMenu === item}">
                    <i class={{item.icon}}></i>
                    <div class="item-clear"></div>
                    <span class="nav-name">{{item.menuName}}</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-click="vm.showRegistrationForm(true)" style="cursor: pointer" data-toggle="modal"
                   data-target="#myModal"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a>
                <!--<a ui-sref="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>-->
            </li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
    <app-registration ng-show="vm.isRegistrationShown" name="dupa jasiu" cars="vm.cars"
                      on-delete="vm.test(car)"
                      on-toggle="vm.showRegistrationForm(isRegistrationVisible)"></app-registration>
</div>
