<div ng-show="vm.isSent" uib-alert ng-class="'alert-success'" style="z-index: 98; text-align: center">Thank you for your
    message!
</div>
<div>
    <leaflet center="vm.poznan" width="100%" height="300px" event-broadcast="vm.events" markers="vm.markers"></leaflet>
</div>
<div class="row" style="margin-top: 25px">
    <div class="col-lg-6" style="text-align: center; font-weight: bold; font-size: 24px">
        Contact Info
    </div>
    <div class="col-lg-6" style="text-align: left; font-weight: bold; font-size: 24px">
        Get in Touch with Us
    </div>
</div>
<div class="row" style="margin-top: 25px">
    <div class="col-lg-6">
        <div class="row" ng-repeat="contact in vm.contactData">
            <div class="col-lg-6 contact-name" style="text-align: right; font-weight: bold; padding: 5px">
                {{contact.name}}
            </div>
            <div class="col-lg-6" style="text-align: left; padding: 5px">
                {{contact.value}}
            </div>
        </div>
        <div class="row socials">
            <div class="col-lg-6" style="text-align:right; font-weight:bold; padding: 5px">Socials</div>
            <div class="col-lg-6" style="padding: 5px;">
                <i class="fa fa-facebook-official social" aria-hidden="true"></i>
                <i class="fa fa-twitter social" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square social" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            If you have any questions, inquires or really anything else don't hesitate to contact me using this form
        </div>
        <div class="row">
            <uib-accordion>
                <div uib-accordion-group class="panel-default contact-panel" style="width: 60%;"
                     heading="Contact us" is-open="vm.isFormOpen">
                    <div class="panel-heading" style="font-size: 25px;text-align: center"
                         ng-show="vm.isContactFormDisplayed">
                        Get in touch
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <form class="contact-form" name="contactUs"
                                      ng-submit="vm.submitMsg(contactUs.$valid)"
                                      novalidate>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"
                                                                              style="color: #FA5340; font-size: 18px;"></i>
                                            </div>
                                            <input type="text" name="name" ng-model="vm.contactMessage.name"
                                                   class="form-control"
                                                   ng-minlength="3" ng-maxlength="25" required
                                                   placeholder="Your name">
                                        </div>
                                        <div ng-show="contactUs.name.$touched"
                                             ng-messages="contactUs.name.$error">
                                            <div ng-messages-include="app/components/errorMsg.html"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-phone"
                                                                              style="color: #FA5340; font-size: 18px;"></i>
                                            </div>
                                            <input type="text" name="phone" ng-model="vm.contactMessage.phone"
                                                   class="form-control"
                                                   ng-maxlength="12" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-at" style="color: #FA5340;font-size: 18px;"></i>
                                            </div>
                                            <input type="email" name="email" ng-model="vm.contactMessage.email"
                                                   class="form-control" ng-minlength=6 ng-maxlength=40 required
                                                   placeholder="Your email">
                                        </div>
                                        <span class="error"
                                              ng-show="contactUs.email.$error.email" style="color: #a94442"> Not valid email!</span>
                                        <div ng-show="contactUs.email.$touched"
                                             ng-messages="contactUs.email.$error">
                                            <div ng-messages-include="app/components/errorMsg.html"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope"
                                                   style="color: #FA5340;font-size: 18px;"></i>
                                            </div>
                                            <textarea class="form-control contact-msg" name="msg"
                                                      ng-model="vm.contactMessage.msg"
                                                      ng-minlength=6 ng-maxlength="100" required
                                                      placeholder="Type your message here..."
                                                      style="height: 100px"></textarea>
                                        </div>
                                        <div ng-show="contactUs.msg.$touched"
                                             ng-messages="contactUs.msg.$error">
                                            <div ng-messages-include="app/components/errorMsg.html"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" style="float: right"
                                                ng-disabled="contactUs.$invalid">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
<!--</div>-->

<!--</uib-accordion>-->
<!--<h1>Center map example</h1>-->
<!--<ul>-->
<!--<li><input type="number" step="any" ng-model="vm.poznan.lat"/> Latitude</li>-->
<!--<li><input type="number" step="any" ng-model="vm.poznan.lng"/> Longitude</li>-->
<!--<li><input type="number" step="any" ng-model="vm.poznan.zoom"/> Zoom</li>-->
<!--</ul>-->
<!--<h1>Markers simple example</h1>-->
<!--<p>Initial marker position (lat/lng):-->
<!--<strong ng-bind="vm.markers.mainMarker.lat"></strong>-->
<!--<strong ng-bind="vm.markers.mainMarker.lng"></strong>-->
<!--</p>-->
<!--<p>Actual marker position (lat/lng):-->
<!--<strong ng-bind="vm.position.lat"></strong>-->
<!--<strong ng-bind="vm.position.lng"></strong>-->
<!--</p>-->

