<div class="panel panel-default" style="padding: 15px;">
    <div class="panel-heading">
        <h2>Getting started</h2>
    </div>
    <div class="panel-body">
        <h3>Testing tools</h3>
        <div class="row" ng-repeat="tool in vm.tools" style="margin-left: 20px;padding-top: 20px">
            <div class="col-md-3">
                <article>
                    <h4><a href="{{tool.url}}" target="_blank">{{tool.name}}</a>
                        <img ng-src="{{tool.icon}}" style="height: 20px" ; width="20px" ; cursor="pointer"
                             alt='tool image' class="tool-icon"/>
                    </h4>
                </article>
            </div>
            <div class="col-md-10">
                <article>
                    <p><cite>{{tool.description}}</cite></p>
                </article>
            </div>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>