<div>
    <h3>{{vm.message}}</h3>
</div>
1. Jak zrobić zeby format daty w user details byl yyyy-mm-dd zamiast całego timestamp
<br>
2. jak wyrownać gender i birth date
<br>
3. Jak zrobic walidacje pol na kontakt liście i na add user tak, żeby error msg pokazywal sie dopiero jak user kliknie input i zostawi go pustym
<br>
4. Dlaczego w index.htm bootsrap.css nie dziala jak biore z bowera tylko z cdn?