<p ng-message="minlength" class="text-danger">This field is too short.</p>
<p ng-message="maxlength" class="text-danger">This field is too long.</p>
<p ng-message="required" class="text-danger">This field is required.</p>